.card{
    background-image: url('/front.png');
    background-size: cover; /* Ensure the image covers the card */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
}